.layer-list-item {
  align-items: center;
  cursor: pointer;
  display: flex;
  padding: 0.5rem;
  transition: background .3s ease;

  p, input {
    margin: 0;
  }

  > :first-child {
    margin-right: 1rem;
  }

  &:hover {
    background: #f0f0f0;
  }

}
